@model DigitalSphere.Models.Employee
@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/SportAdmin_Layout.cshtml";
}

<h2>changePassword</h2>

<div class="container" style="margin-top:70px">

    <div class="col-md-3" style="">

    </div>

    <div class="col-md-6" style="">
        @using (Html.BeginForm("changePassword"))
        { 
        <h4>Old Password:</h4>
        <input type="password" class="form-control" id="oldpass"/> 
<label style="font-size:medium; color:red" id="error"></label><br /><br />

        <h4>New Password:</h4>
        <input type="password" class="form-control" id="newpass" /><label style="color:red; font-size:medium" id="match1"></label><br /><br />

        <h4>Retype New Password:</h4>
        <!--<input type="password" class="form-control" id="newagainpass" /><label id="match" style="font-size:medium;color:red"></label><br /><br />-->
            @Html.PasswordFor(m=>m.Password,new {@class="form-control" ,@id="newagainpass"})<label id="match" style="font-size:medium;color:red"></label><br /><br />
        
        <button type="submit" name="change" class="btn btn-primary btn-block" >Change Password</button>
        }
    </div>

</div>

<script>

    $(document).ready(function () {

        $("#oldpass").change(function () {
            

            var pass = $(this).val();
            $.getJSON("../Sports/checkpass", { Pass: pass }, function (msg) {
                //if (msg != "") {
                    $("#error").text(msg);
                //}
            });

        });

        $("#newagainpass").change(function () {
            var q=$(this).val();
            var s=$("#newpass").val();
                var msg = "";
                if (q != s) {
                    msg = "Not match";
                }
                $("#match").text(msg)
          
        });
        $("#newpass").change(function () {
            var q = $(this).val();
            var s = $("#newagainpass").val();

          
                var msg = "";
                if (q != s) {
                    msg = "Not match";
                }
                $("#match").text(msg)
        });

    });

</script>