
@{
    ViewBag.Title = "add";
    Layout = null;
}

<h2>add</h2>

@using (Html.BeginForm("add/" + "DSMOV06", "Test", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{ 
    
    <input type="file" name="f" />
    
       <input type="submit" />    
}
